


<center><h1>Start Adding To Your Mix</h1>

<div class="field"{{input value=newSearchTerm placeholder="search"}}></div>
<div class="ui circular teal button"{{action "search"}}><center><i class="search icon"></i></center></button>
</center>





{{#each video in videos}}
<div class="ui grid">
<div class="twelve wide column">
    <div class="ui segment">
      <div id="main-outlet">
  <ul>{{video.title}}</ul>
  <ul>{{video.description}}</ul>
  <ul><a {{bind-attr href=video.videoId }}>Watch on Youtube</a></ul>
  <ul><img {{bind-attr src=video.thumbnail }} alt="thumbnail"></ul>
  <ul><div class="ui circular green button"{{action "add"}}><center><i class="add large circle icon"></i></center></button></ul>

</div>
</div>
</div>
</div>
{{/each}}
